<!DOCTYPE html>
<html>
    <head>
        <title>SSR my Error Page</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <style>{{>baseline}}</style>
    </head>
    <body>
        <div id='root'>{{{body}}}</div>
    </body>
</html>